<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"></script>
<script type="text/javascript">
  algoliasearchNetlify({
	appId: 'OX5R5R92J5',
	apiKey: '6a6bbbd7d73846bd6c9e16a9268cadfe',
	siteId: 'bf90e409-b38e-4125-a242-5697e2f54b22',
	branch: 'dev',
	selector: 'div#search',
  });
</script>